@font-face {
  font-family: "CloisterBlack";
  src: url("../../fonts/CloisterBlack.ttf");
}
@font-face {
  font-family: "Giveny";
  src: url("../../fonts/Giveny.ttf");
}
@font-face {
  font-family: "Muli-Bold";
  src: url("../../fonts/muli/Muli-Bold.ttf");
}

.H1T1 {
  font-family: CloisterBlack;
  font-size: 70px;
  color: rgb(22, 22, 22);
  text-shadow: 2px 2px 10px rgb(78, 76, 74);
}
.H3T1 {
  font-family: Giveny;
  font-size: 18px;
  font-stretch: expanded;
  color: #c9a504;
  text-shadow: black 1px 1px;
  letter-spacing: 1px;
}

.topdivmainT1 {
  width: 281.5mm;
  height: 215mm;
  padding: 20px;
  text-align: center;
  border: 1px solid #787878;
  background-color: rgb(247, 211, 8);
}
.borderMainT1 {
  position: relative;
  padding: auto 10px;
  height: 204mm;
  width: 270mm;
  text-align: center;
  background-image: url("../../images/back2.png");
  border: 10px solid #c9a504;
  z-index: 1;
}
/*   background-color:#FAF4DC;*/
.borderdottedT1 {
  margin: 15px;
  height: 192mm;
  text-align: center;
}
.container1T1 {
  margin: 30px;
  height: 190mm;
  text-align: center;
}
.flexbox_1T1 img {
  margin-top: 18px;
  max-width: 130px;
  max-height: 60px;
  display: inline-block;
  justify-content: center;
}

.flexbox_2T1 {
  position: absolute;
  height: 204.2mm;
  width: 272mm;
  display: flex;
  justify-content: center;
  z-index: 3;
}
.bottomT1 {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.borderbottom1T1 {
  width: 200px;
  float: left;
  border: 0;
  border-bottom: 2px solid #000;
  margin-right: 8px;
}
.borderbottom2T1 {
  width: 200px;
  float: right;
  border: 0;
  border-bottom: 2px solid #000;
  margin-left: 8px;
}
